---
const menuitems = [
  {
    title: "Home",
    path: "/#home",
  },
  {
    title: "Game",
    path: "/#about",
  },
  {
    title: "Team",
    path: "/#team",
  },
  {
    title: "Contact",
    path: "/#contact",
  },
  {
    title: "Blog",
    path: "/blog",
  },
];
---

<header class="ud-header absolute top-0 left-0 z-40 flex w-full items-center bg-transparent">
  <div class="container">
    <div class="relative -mx-4 flex items-center justify-between">
      <div class="flex w-full items-center justify-between px-4">
        <div>
          <button
            id="navbarToggler"
            class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-white focus:ring-2 lg:hidden"
          >
            <span
              class="relative my-[6px] block h-[2px] w-[30px] bg-white"
            ></span>
            <span
              class="relative my-[6px] block h-[2px] w-[30px] bg-white"
            ></span>
            <span
              class="relative my-[6px] block h-[2px] w-[30px] bg-white"
            ></span>
          </button>
          <nav
            id="navbarCollapse"
            class="absolute right-4 top-full hidden w-full max-w-[250px] rounded-lg bg-red-2 dark:bg-blue-2 py-5 shadow-lg lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent dark:lg:bg-transparent lg:py-0 lg:px-64 xl:px-80 lg:shadow-none 2xl:px-80"
          >
            <ul class="block lg:flex 2xl:ml-20">
              {
                menuitems.map((item, index) => {
                  if(!item.children) {
                    return (
                      <li class="group relative">
                        <a
                          href={item.path}
                          class={` ${index}
                          ${Astro.url.pathname === '/' ? 'rajdhani-regular ud-menu-scroll mx-8 flex py-2  text-xl text-white group-hover:text-white lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-10' : 'ud-menu-scroll mx-8 flex py-2 text-white group-hover:text-blue-2 lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 text-white xl:ml-10'}
                          `}>
                          {item.title}
                        </a>
                      </li>

                    )
                  }
                
                  if(item.children) {
                    return (
                      <li class="submenu-item group relative">
                        <a
                          href={item.path}
                          class={` ${index}
                          ${Astro.url.pathname === '/' ? 'rajdhani-regular relative mx-8 flex items-center justify-between py-2 text-xl text-white group-hover:text-white lg:mr-0 lg:ml-8 lg:inline-flex lg:py-6 lg:pl-0 lg:pr-4 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-10' : 'relative mx-8 flex items-center justify-between py-2 text-white group-hover:text-white lg:mr-0 lg:ml-8 lg:inline-flex lg:py-6 lg:pl-0 lg:pr-4 xl:ml-10'}
                          `}>
                          {item.title}

                          <svg class="fill-current ml-2" width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M7.99999 14.9C7.84999 14.9 7.72499 14.85 7.59999 14.75L1.84999 9.10005C1.62499 8.87505 1.62499 8.52505 1.84999 8.30005C2.07499 8.07505 2.42499 8.07505 2.64999 8.30005L7.99999 13.525L13.35 8.25005C13.575 8.02505 13.925 8.02505 14.15 8.25005C14.375 8.47505 14.375 8.82505 14.15 9.05005L8.39999 14.7C8.27499 14.825 8.14999 14.9 7.99999 14.9Z" 
                            />
                          </svg>
                        </a>

                        <div
                          class="submenu relative top-full left-0 hidden w-[250px] rounded-sm bg-red-2 dark:bg-blue-2 p-4 transition-[top] duration-300 group-hover:opacity-100 lg:invisible lg:absolute lg:top-[110%] lg:block lg:opacity-0 lg:shadow-lg lg:group-hover:visible lg:group-hover:top-full"
                        >
                          {
                            item.children.map(item => (
                              <a
                                href={item.path}
                                class="block rounded py-[10px] px-4 text-xl text-white hover:text-red-2 dark:hover:text-blue-2"
                              >
                                {item.title}
                              </a>
                            ))
                          }
                        </div>
                      </li>
                    )
                  }
                })
              }
            </ul>
          </nav>
        </div>
        <div class="justify-end pr-16 flex items-center my-4">
          <button class="inline-flex cursor-pointer items-center" id="themeSwitcher" >
            <img src="/assets/logo/Glass-Arcade-Logo-Red.png" alt="logo" class="w-15 h-20 dark:hidden" />
            <img src="/assets/logo/Glass-Arcade-Logo-Blue.png" alt="logo" class="w-15 h-20 hidden dark:block" />
          </button>
        </div>
      </div>
    </div>
  </div>
</header>